---
- name: Install epel-release
  yum:
    name: epel-release
    state: latest

- name: DockerHub login
  docker_login:
    username: "{{ dockerhub_login }}"
    password: "{{ dockerhub_pass }}"

- name: Pull PostgreSQL-12 image
  docker_image:
    name: centos/postgresql-12-centos7
    source: pull

- name: Create/check directory
  file: 
    path: data/postgres/docker/data
    state: directory
    mode: 750
    group: docker

- name: Create docker container
  docker_container:
    name: postgresql12
    image: centos/postgresql-12-centos7
    mounts: 
      - source: /data/postgres/docker/data
        target: /var/lib/pgsql/data
        type: bind
